{
  "extends": "airbnb",
  "env": {
    "commonjs": true
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": ["error", "only-multiline"],
    "default-case": 0,
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "import/no-unresolved": [2, { "commonjs": true }],
    "max-len": [1, 175, 2, { "ignoreComments": true }],
    "no-cond-assign": [2, "except-parens"],
    "no-multi-spaces": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-unused-vars": [1, { "vars": "local", "args": "none" }],
    "quotes": [2, "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "strict": [0, "global"]
  },
  "settings": {
    "import/resolver": "node"
  }
}
